config.py
/venv*
/files*
/temp*
/Documents*
/history*
/plugins*
*__pycache__*
*.DS_Store*
myHand.desktop
credentials_GoogleCloudTextToSpeech.json
credentials_GoogleCloudTextToSpeech_backup.json
.python-version
.cache/*
coding/*
