requests
openai==1.2.4
prompt_toolkit
Pygments
datetime
netifaces
geocoder
googlesearch-python
art
apsw
gTTS
google-cloud-texttospeech
yt-dlp
pyperclip
colorama
tiktoken
docker
unstructured[all-docs]
pillow
pyautogen==0.2.0b5
pygame
