--pre aiohttp
openai==0.28.1
prompt_toolkit
Pygments
datetime
netifaces
googlesearch-python
art
apsw
gTTS
google-cloud-texttospeech
yt-dlp
pyperclip
colorama
tiktoken
docker
unstructured[all-docs]
pyautogen[blendsearch,retrievechat,mathchat]==0.1.14
pygame
