openai==1.6.1
requests
argparse
pendulum
folium
seaborn[stats]
sympy
numpy
prompt_toolkit
Pygments
datetime
netifaces
geocoder
googlesearch-python
art
apsw
gTTS
google-cloud-texttospeech
google-cloud-aiplatform
pywhatkit
yt-dlp
rembg
qrcode
pyperclip
colorama
pillow
docker
einops
transformers
sentence-transformers
chromadb
unstructured[all-docs]
pyautogen[retrievechat,teachable,mathchat]==0.2.2
tiktoken
pygame
PySide6