openai==1.9.0
requests
argparse
pendulum
folium
seaborn[stats]
sympy
numpy
prompt_toolkit
Pygments
datetime
netifaces
geocoder
googlesearch-python
art
apsw
gTTS
google-cloud-speech
google-cloud-texttospeech
google-cloud-aiplatform
pywhatkit
yt-dlp
rembg
qrcode
pyperclip
colorama
pillow
docker
einops
transformers
sentence-transformers
chromadb
unstructured[all-docs]
pyautogen[retrievechat,autobuild,mathchat]==0.2.7
tiktoken
pygame
PySide6
feedparser
html2text
pypdf
PyMuPDF
yfinance
setuptools-rust
SpeechRecognition
openai-whisper
soundfile