openai==1.3.4
requests
argparse
pendulum
folium
numpy
prompt_toolkit
Pygments
datetime
netifaces
geocoder
googlesearch-python
art
apsw
gTTS
google-cloud-texttospeech
yt-dlp
pyperclip
colorama
pillow
docker
sentence-transformers
chromadb
unstructured[all-docs]
pyautogen[retrievechat,teachable,mathchat]==0.2.0b5
tiktoken
pygame
